<%= form_with(model: @post, local: true) do |form| %>
  
  <% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

  <div>
    <%= form.label :title %> <br />
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %> <br />
    <%= form.text_area :body, cols: 50, rows: 5 %>
  </div>

  <%= form.submit %>

<% end %>