<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<div>
  <small>
    Posted <%= time_ago_in_words(@post.updated_at) %> ago
  </small> 
</div>

<div>
    <small>
    <%= link_to "Edit", edit_post_path(@post.id) %>
  </small>
  <small>
    <%= link_to "Delete", post_path(@post.id), method: :delete, data: { confirm: "Are you sure?" } %>
  </small>
</div>