<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-2">
        <a class="navbar-brand text-primary" href="#">Blog On Rails</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex flex-row justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to("Home", posts_path, class: "nav-link text-primary") %>
            </li>
            <li class="nav-item">
              <%= link_to("New Post", new_post_path, class: "nav-link text-primary") %>
            </li>
            <% if user_signed_in? %>
              <span class="navbar-text mr-2 px-2">Hello <%= current_user.name %></span>
              <li class="nav-item">
                <%= link_to "Sign Out", session_path, method: :delete, 
                    data: {confirm: "Are you sure you want to sign out?"}, 
                    class:"btn btn-dark" %>
              </li>
            <% else %>
              <li class="nav-item px-2">
                <%= link_to "Sign In", new_session_path, class:"btn btn-dark" %>
                <%= link_to "Sign Up", new_user_path, class:"btn btn-dark" %>
              </li>
            <% end %>
          </ul>
        </div>
    </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
